In [ ]:
# Data3 contains an updated version of Data2 including movies after 2005 to 2023.
# Row number indicates how many movies the data contains (+1 row 0)-> 9826
# Dataset url = https://www.kaggle.com/datasets/akashguna/netflix-prize-shows-information/data

In [ ]:
# Main libraries : Pandas, Numpy, bs4
# Libraries for data visualisation : Matplotlib, Seaborn, Plotly

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.graph_objs as go

In [3]:
df3 = "C:/Users/ALEV PC/Desktop/Project/Data/raw/imdb.csv"
df3 = pd.read_csv(df3)
df3.head()

,Unnamed: 0,title,year,kind,genre,rating,vote,country,language,cast,director,composer,writer,runtime
0,0,Dinosaur Planet,2003.0,tv mini series,"['Documentary', 'Animation', 'Family']",7.7,474.0,['United States'],['English'],"['Christian Slater', 'Scott Sampson']",NaN,NaN,"['Mike Carrol', 'Mike Carroll', 'Georgann Kane']",50.0
1,1,Character,2021.0,movie,"['Crime', 'Horror', 'Thriller']",8.3,46.0,['Japan'],['Japanese'],"['Masaki Suda', 'Fukase', 'Mitsuki Takahata', ...",['Akira Nagai'],['Youki Kojima'],"['Takashi Nagasaki', 'Takashi Nagasaki', 'Anna...",125.0
2,2,Get Up and Dance!,1994.0,video movie,['Family'],8.1,18.0,['United States'],['English'],"['Paula Abdul', 'Aurorah Allain', 'Bill Bohl',...",['Steve Purcell'],NaN,NaN,54.0
3,3,The Rise and Fall of El Chapo,2016.0,tv movie,['Documentary'],6.9,42.0,['United States'],NaN,NaN,NaN,NaN,NaN,85.0
4,4,Sick - IMDb,NaN,NaN,['Thriller'],NaN,NaN,['United States'],NaN,"['Marc Menchaca', 'Gideon Adlon', 'Dylan Spray...",['John Hyams'],NaN,"['Katelyn Crabb', 'Kevin Williamson']",NaN

In [9]:
df3.info

<bound method DataFrame.info of       Unnamed: 0                          title    year            kind  \
0              0                Dinosaur Planet  2003.0  tv mini series
1              1                      Character  2021.0           movie
2              2              Get Up and Dance!  1994.0     video movie
3              3  The Rise and Fall of El Chapo  2016.0        tv movie
4              4                    Sick - IMDb     NaN             NaN
...          ...                            ...     ...             ...
9821        9821            All Monsters Attack  1969.0           movie
9822        9822                   Fidel Castro  2005.0         episode
9823        9823                          Epoch  2001.0        tv movie
9824        9824                    The Company  2003.0           movie
9825        9825                       Predator  1987.0           movie

                                              genre  rating      vote  \
0            ['Documentary', 'Animation', 'Family']     7.7     474.0
1                   ['Crime', 'Horror', 'Thriller']     8.3      46.0
2                                        ['Family']     8.1      18.0
3                                   ['Documentary']     6.9      42.0
4                                      ['Thriller']     NaN       NaN
...                                             ...     ...       ...
9821             ['Adventure', 'Family', 'Fantasy']     3.9    4384.0
9822        ['Documentary', 'Biography', 'History']     6.4      44.0
9823                         ['Sci-Fi', 'Thriller']     4.9    2376.0
9824                  ['Drama', 'Music', 'Romance']     6.3    6501.0
9825  ['Action', 'Adventure', 'Sci-Fi', 'Thriller']     7.8  386850.0

                                             country  \
0                                  ['United States']
1                                          ['Japan']
2                                  ['United States']
3                                  ['United States']
4                                  ['United States']
...                                              ...
9821                                       ['Japan']
9822                                             NaN
9823                               ['United States']
9824  ['United States', 'Germany', 'United Kingdom']
9825                     ['United States', 'Mexico']

                               language  \
0                           ['English']
1                          ['Japanese']
2                           ['English']
3                                   NaN
4                                   NaN
...                                 ...
9821                       ['Japanese']
9822             ['English', 'Spanish']
9823                        ['English']
9824                        ['English']
9825  ['English', 'Spanish', 'Russian']

                                                   cast  \
0                 ['Christian Slater', 'Scott Sampson']
1     ['Masaki Suda', 'Fukase', 'Mitsuki Takahata', ...
2     ['Paula Abdul', 'Aurorah Allain', 'Bill Bohl',...
3                                                   NaN
4     ['Marc Menchaca', 'Gideon Adlon', 'Dylan Spray...
...                                                 ...
9821  ['Tomonori Yazaki', 'Hideyo Amamoto', 'Sachio ...
9822  ['Rena Baskin', 'Fulgencio Batista', 'James Bl...
9823  ['David Keith', 'Stephanie Niznik', "Ryan O'Ne...
9824  ['Neve Campbell', 'Malcolm McDowell', 'James F...
9825  ['Arnold Schwarzenegger', 'Carl Weathers', 'El...

                                              director            composer  \
0                                                  NaN                 NaN
1                                      ['Akira Nagai']    ['Youki Kojima']
2                                    ['Steve Purcell']                 NaN
3                                                  NaN                 NaN
4                                       ['John Hyams']                 NaN
...                                                ...                 ...
9821  ['Ishirô Honda', 'Jun Fukuda', 'Kengo Furusawa']  ['Kunio Miyauchi']
9822           ['Adriana Bosch', 'M Pink Christofalo']    ['Mason Daring']
9823                                     ['Matt Codd']  ['Richard McHugh']
9824                                 ['Robert Altman']  ['Van Dyke Parks']
9825                                ['John McTiernan']  ['Alan Silvestri']

                                                 writer  runtime
0      ['Mike Carrol', 'Mike Carroll', 'Georgann Kane']     50.0
1     ['Takashi Nagasaki', 'Takashi Nagasaki', 'Anna...    125.0
2                                                   NaN     54.0
3                                                   NaN     85.0
4                 ['Katelyn Crabb', 'Kevin Williamson']      NaN
...                                                 ...      ...
9821                             ["Shin'ichi Sekizawa"]     69.0
9822                                  ['Adriana Bosch']      NaN
9823  ['Jonathan Raymond', 'Jonathan Raymond', 'Phil...     96.0
9824  ['Neve Campbell', 'Barbara Turner', 'Barbara T...    112.0
9825                      ['Jim Thomas', 'John Thomas']    107.0

[9826 rows x 14 columns]>

In [4]:
# List of columns
df3.columns

Index(['Unnamed: 0', 'title', 'year', 'kind', 'genre', 'rating', 'vote',
       'country', 'language', 'cast', 'director', 'composer', 'writer',
       'runtime'],
      dtype='object')

In [10]:
df3.kind.unique

<bound method Series.unique of 0       tv mini series
1                movie
2          video movie
3             tv movie
4                  NaN
             ...
9821             movie
9822           episode
9823          tv movie
9824             movie
9825             movie
Name: kind, Length: 9826, dtype: object>

In [11]:
tv_movie = df3[df3["kind"] == "movie"]
tv_movie

,Unnamed: 0,title,year,kind,genre,rating,vote,country,language,cast,director,composer,writer,runtime
1,1,Character,2021.0,movie,"['Crime', 'Horror', 'Thriller']",8.3,46.0,['Japan'],['Japanese'],"['Masaki Suda', 'Fukase', 'Mitsuki Takahata', ...",['Akira Nagai'],['Youki Kojima'],"['Takashi Nagasaki', 'Takashi Nagasaki', 'Anna...",125.0
5,5,8 Man,1992.0,movie,"['Action', 'Sci-Fi']",5.5,93.0,['Japan'],['Japanese'],"['Kai Shishido', 'Etsushi Takahashi', 'Sachiko...",['Yasuhiro Horiuchi'],['Carole King'],"['Kazumasa Hirai', 'Jirô Kuwata', 'Junko Suzuki']",83.0
6,6,What the #$*! Do We (K)now!?,2004.0,movie,"['Documentary', 'Comedy', 'Drama', 'Fantasy', ...",5.3,13432.0,['United States'],"['English', 'German', 'Spanish']","['Marlee Matlin', 'Elaine Hendrix', 'John Ross...","['William Arntz', 'Betsy Chasse', 'Mark Vicente']",['Christopher Franke'],"['William Arntz', 'Betsy Chasse', 'Matthew Hof...",109.0
7,7,Class of Nuke 'Em High Part II: Subhumanoid Me...,1991.0,movie,"['Comedy', 'Horror', 'Sci-Fi']",4.5,2177.0,['United States'],['English'],"['Brick Bronsky', 'Lisa Gaye', 'Leesa Rowland'...",['Eric Louzil'],['Bob Mithoff'],"['Lloyd Kaufman', 'Carl Morano', 'Matt Unger']",96.0
8,8,The Fighter,2010.0,movie,"['Biography', 'Drama', 'Sport']",7.8,351199.0,['United States'],['English'],"['Mark Wahlberg', 'Christian Bale', 'Amy Adams...",['David O. Russell'],['Michael Brook'],"['Scott Silver', 'Paul Tamasy', 'Eric Johnson']",116.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9819,9819,Interiors,1978.0,movie,['Drama'],7.4,19143.0,['United States'],['English'],"['Kristin Griffith', 'Mary Beth Hurt', 'Richar...",['Woody Allen'],NaN,['Woody Allen'],92.0
9820,9820,Shakespeare in Love,1998.0,movie,"['Comedy', 'Drama', 'History', 'Romance']",7.1,218921.0,"['United States', 'United Kingdom']",['English'],"['Geoffrey Rush', 'Tom Wilkinson', ""Steven O'D...",['John Madden'],['Stephen Warbeck'],"['Marc Norman', 'Tom Stoppard']",123.0
9821,9821,All Monsters Attack,1969.0,movie,"['Adventure', 'Family', 'Fantasy']",3.9,4384.0,['Japan'],['Japanese'],"['Tomonori Yazaki', 'Hideyo Amamoto', 'Sachio ...","['Ishirô Honda', 'Jun Fukuda', 'Kengo Furusawa']",['Kunio Miyauchi'],"[""Shin'ichi Sekizawa""]",69.0
9824,9824,The Company,2003.0,movie,"['Drama', 'Music', 'Romance']",6.3,6501.0,"['United States', 'Germany', 'United Kingdom']",['English'],"['Neve Campbell', 'Malcolm McDowell', 'James F...",['Robert Altman'],['Van Dyke Parks'],"['Neve Campbell', 'Barbara Turner', 'Barbara T...",112.0
9825,9825,Predator,1987.0,movie,"['Action', 'Adventure', 'Sci-Fi', 'Thriller']",7.8,386850.0,"['United States', 'Mexico']","['English', 'Spanish', 'Russian']","['Arnold Schwarzenegger', 'Carl Weathers', 'El...",['John McTiernan'],['Alan Silvestri'],"['Jim Thomas', 'John Thomas']",107.0

In [6]:
null_values = df3.isnull().sum()
if null_values.any():
    print("Null values found:")
    print(null_values)
else:
    print("No null values found.")

Null values found:
Unnamed: 0       0
title            1
year            70
kind            38
genre           93
rating         877
vote           877
country        665
language       793
cast           344
director      1860
composer      3622
writer        1656
runtime       1056
dtype: int64

In [8]:
duplicated_rows = df3.duplicated().sum()
if duplicated_rows:
    print(f"{duplicated_rows} duplicated rows found.")
else:
    print("No duplicated rows found.")

No duplicated rows found.

In [12]:
df3 = df3 [["title","year","kind" , "country", "genre" ]]
df3

,title,year,kind,country,genre
0,Dinosaur Planet,2003.0,tv mini series,['United States'],"['Documentary', 'Animation', 'Family']"
1,Character,2021.0,movie,['Japan'],"['Crime', 'Horror', 'Thriller']"
2,Get Up and Dance!,1994.0,video movie,['United States'],['Family']
3,The Rise and Fall of El Chapo,2016.0,tv movie,['United States'],['Documentary']
4,Sick - IMDb,NaN,NaN,['United States'],['Thriller']
...,...,...,...,...,...
9821,All Monsters Attack,1969.0,movie,['Japan'],"['Adventure', 'Family', 'Fantasy']"
9822,Fidel Castro,2005.0,episode,NaN,"['Documentary', 'Biography', 'History']"
9823,Epoch,2001.0,tv movie,['United States'],"['Sci-Fi', 'Thriller']"
9824,The Company,2003.0,movie,"['United States', 'Germany', 'United Kingdom']","['Drama', 'Music', 'Romance']"
9825,Predator,1987.0,movie,"['United States', 'Mexico']","['Action', 'Adventure', 'Sci-Fi', 'Thriller']"

In [13]:
df3.country.info

<bound method Series.info of 0                                    ['United States']
1                                            ['Japan']
2                                    ['United States']
3                                    ['United States']
4                                    ['United States']
                             ...
9821                                         ['Japan']
9822                                               NaN
9823                                 ['United States']
9824    ['United States', 'Germany', 'United Kingdom']
9825                       ['United States', 'Mexico']
Name: country, Length: 9826, dtype: object>