In [ ]:
# Data2 is a scrapped data from IMDB, contains movies from 1905 to 2005

In [ ]:
# Main libraries : Pandas, Numpy, bs4a
# Libraries for data visualisation : Matplotlib, Seaborn, Plotly

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.graph_objs as go

In [3]:
df2 = "C:/Users/ALEV PC/Desktop/Project/Data/raw/imdb_processed.csv"
df2 = pd.read_csv(df2)
df2.head()

,Unnamed: 0,title,year,kind,genre,rating,vote,country,language,cast,director,composer,writer,runtime
0,0,Dinosaur Planet,2003.0,tv mini series,"['Documentary', 'Animation', 'Family']",7.7,474.0,['United States'],['English'],"['Christian Slater', 'Scott Sampson']",NaN,NaN,"['Mike Carrol', 'Mike Carroll', 'Georgann Kane']",50.0
1,1,Get Up and Dance!,1994.0,video movie,['Family'],8.1,18.0,['United States'],['English'],"['Paula Abdul', 'Aurorah Allain', 'Bill Bohl',...",['Steve Purcell'],NaN,NaN,83.0
2,2,8 Man,1992.0,movie,"['Action', 'Sci-Fi']",5.5,93.0,['Japan'],['Japanese'],"['Kai Shishido', 'Etsushi Takahashi', 'Sachiko...",['Yasuhiro Horiuchi'],['Carole King'],"['Kazumasa Hirai', 'Jirô Kuwata', 'Junko Suzuki']",NaN
3,3,What the #$*! Do We (K)now!?,2004.0,movie,"['Documentary', 'Comedy', 'Drama', 'Fantasy', ...",5.3,13432.0,['United States'],"['English', 'German', 'Spanish']","['Marlee Matlin', 'Elaine Hendrix', 'John Ross...","['William Arntz', 'Betsy Chasse', 'Mark Vicente']",['Christopher Franke'],"['William Arntz', 'Betsy Chasse', 'Matthew Hof...",60.0
4,4,Class of Nuke 'Em High Part II: Subhumanoid Me...,1991.0,movie,"['Comedy', 'Horror', 'Sci-Fi']",4.5,2177.0,['United States'],['English'],"['Brick Bronsky', 'Lisa Gaye', 'Leesa Rowland'...",['Eric Louzil'],['Bob Mithoff'],"['Lloyd Kaufman', 'Carl Morano', 'Matt Unger']",96.0

In [12]:
df2.info

<bound method DataFrame.info of       Unnamed: 0                                              title    year  \
0              0                                    Dinosaur Planet  2003.0
1              1                                  Get Up and Dance!  1994.0
2              2                                              8 Man  1992.0
3              3                       What the #$*! Do We (K)now!?  2004.0
4              4  Class of Nuke 'Em High Part II: Subhumanoid Me...  1991.0
...          ...                                                ...     ...
8446        8446                                All Monsters Attack  1969.0
8447        8447                                       Fidel Castro  2005.0
8448        8448                                              Epoch  2001.0
8449        8449                                        The Company  2003.0
8450        8450                                           Predator  1987.0

                kind                                              genre  \
0     tv mini series             ['Documentary', 'Animation', 'Family']
1        video movie                                         ['Family']
2              movie                               ['Action', 'Sci-Fi']
3              movie  ['Documentary', 'Comedy', 'Drama', 'Fantasy', ...
4              movie                     ['Comedy', 'Horror', 'Sci-Fi']
...              ...                                                ...
8446           movie                 ['Adventure', 'Family', 'Fantasy']
8447         episode            ['Documentary', 'Biography', 'History']
8448        tv movie                             ['Sci-Fi', 'Thriller']
8449           movie                      ['Drama', 'Music', 'Romance']
8450           movie      ['Action', 'Adventure', 'Sci-Fi', 'Thriller']

      rating      vote                                         country  \
0        7.7     474.0                               ['United States']
1        8.1      18.0                               ['United States']
2        5.5      93.0                                       ['Japan']
3        5.3   13432.0                               ['United States']
4        4.5    2177.0                               ['United States']
...      ...       ...                                             ...
8446     3.9    4384.0                                       ['Japan']
8447     6.4      44.0                                             NaN
8448     4.9    2376.0                               ['United States']
8449     6.3    6501.0  ['United States', 'Germany', 'United Kingdom']
8450     7.8  386850.0                     ['United States', 'Mexico']

                               language  \
0                           ['English']
1                           ['English']
2                          ['Japanese']
3      ['English', 'German', 'Spanish']
4                           ['English']
...                                 ...
8446                       ['Japanese']
8447             ['English', 'Spanish']
8448                        ['English']
8449                        ['English']
8450  ['English', 'Spanish', 'Russian']

                                                   cast  \
0                 ['Christian Slater', 'Scott Sampson']
1     ['Paula Abdul', 'Aurorah Allain', 'Bill Bohl',...
2     ['Kai Shishido', 'Etsushi Takahashi', 'Sachiko...
3     ['Marlee Matlin', 'Elaine Hendrix', 'John Ross...
4     ['Brick Bronsky', 'Lisa Gaye', 'Leesa Rowland'...
...                                                 ...
8446  ['Tomonori Yazaki', 'Hideyo Amamoto', 'Sachio ...
8447  ['Rena Baskin', 'Fulgencio Batista', 'James Bl...
8448  ['David Keith', 'Stephanie Niznik', "Ryan O'Ne...
8449  ['Neve Campbell', 'Malcolm McDowell', 'James F...
8450  ['Arnold Schwarzenegger', 'Carl Weathers', 'El...

                                               director  \
0                                                   NaN
1                                     ['Steve Purcell']
2                                 ['Yasuhiro Horiuchi']
3     ['William Arntz', 'Betsy Chasse', 'Mark Vicente']
4                                       ['Eric Louzil']
...                                                 ...
8446   ['Ishirô Honda', 'Jun Fukuda', 'Kengo Furusawa']
8447            ['Adriana Bosch', 'M Pink Christofalo']
8448                                      ['Matt Codd']
8449                                  ['Robert Altman']
8450                                 ['John McTiernan']

                    composer  \
0                        NaN
1                        NaN
2            ['Carole King']
3     ['Christopher Franke']
4            ['Bob Mithoff']
...                      ...
8446      ['Kunio Miyauchi']
8447        ['Mason Daring']
8448      ['Richard McHugh']
8449      ['Van Dyke Parks']
8450      ['Alan Silvestri']

                                                 writer  runtime
0      ['Mike Carrol', 'Mike Carroll', 'Georgann Kane']     50.0
1                                                   NaN     83.0
2     ['Kazumasa Hirai', 'Jirô Kuwata', 'Junko Suzuki']      NaN
3     ['William Arntz', 'Betsy Chasse', 'Matthew Hof...     60.0
4        ['Lloyd Kaufman', 'Carl Morano', 'Matt Unger']     96.0
...                                                 ...      ...
8446                             ["Shin'ichi Sekizawa"]      NaN
8447                                  ['Adriana Bosch']      NaN
8448  ['Jonathan Raymond', 'Jonathan Raymond', 'Phil...      NaN
8449  ['Neve Campbell', 'Barbara Turner', 'Barbara T...      NaN
8450                      ['Jim Thomas', 'John Thomas']      NaN

[8451 rows x 14 columns]>

In [4]:
# List of columns
df2.columns

Index(['Unnamed: 0', 'title', 'year', 'kind', 'genre', 'rating', 'vote',
       'country', 'language', 'cast', 'director', 'composer', 'writer',
       'runtime'],
      dtype='object')

In [ ]:
# The irrelevant columns: "Unnamed: 0", "cast", "director", "composer", "writer", "runtime"

In [ ]:
# Countries - to be separated "United States" and others. The other countries will be examanied - which ones have bigger proportion
# Languages - to be separated "English" and others. The other languages will be examanied - which ones have bigger proportion
# Comedy / drama ratio - For the decades - Data contains years between 1905 to 2023. 
# 
#
#

In [7]:
null_values = df2.isnull().sum()
if null_values.any():
    print("Null values found:")
    print(null_values)
else:
    print("No null values found.")

Null values found:
Unnamed: 0       0
title            0
year             0
kind             0
genre           67
rating         316
vote           316
country        299
language       399
cast           171
director      1311
composer      2729
writer        1247
runtime       1653
dtype: int64

In [8]:
duplicated_rows = df2.duplicated().sum()
if duplicated_rows:
    print(f"{duplicated_rows} duplicated rows found.")
else:
    print("No duplicated rows found.")

No duplicated rows found.

In [11]:
column_name = 'year'

# Sort the year in ascending order
df2_sorted = df2.sort_values(by="year", ascending=True)

display(df2_sorted)

,Unnamed: 0,title,year,kind,genre,rating,vote,country,language,cast,director,composer,writer,runtime
3472,3472,Battalion of Seaforth Highlanders at the Dubli...,1905.0,movie,"['Documentary', 'Short']",NaN,NaN,['United States'],"['None', 'English']",NaN,NaN,NaN,NaN,87.0
8055,8055,Battalion of Seaforth Highlanders at the Dubli...,1905.0,movie,"['Documentary', 'Short']",NaN,NaN,['United States'],"['None', 'English']",NaN,NaN,NaN,NaN,NaN
232,232,Battalion of Seaforth Highlanders at the Dubli...,1905.0,movie,"['Documentary', 'Short']",NaN,NaN,['United States'],"['None', 'English']",NaN,NaN,NaN,NaN,72.0
8434,8434,Battalion of Seaforth Highlanders at the Dubli...,1905.0,movie,"['Documentary', 'Short']",NaN,NaN,['United States'],"['None', 'English']",NaN,NaN,NaN,NaN,NaN
270,270,Battalion of Seaforth Highlanders at the Dubli...,1905.0,movie,"['Documentary', 'Short']",NaN,NaN,['United States'],"['None', 'English']",NaN,NaN,NaN,NaN,120.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7952,7952,Super Bowl XXXIX,2005.0,movie,['Sport'],6.6,608.0,['United States'],"['English', 'French']","['Rabih Abdullah', 'Keith Adams', 'Troy Aikman...",['Bob Levy'],NaN,NaN,NaN
976,976,A Chinese Tall Story,2005.0,movie,"['Action', 'Comedy', 'Drama', 'Fantasy', 'Roma...",4.9,1019.0,"['Hong Kong', 'China']","['Cantonese', 'Mandarin']","['Nicholas Tse', 'Charlene Choi', 'Bingbing Fa...",['Jeffrey Lau'],['Joe Hisaishi'],['Jeffrey Lau'],101.0
987,987,The Fearless Freaks,2005.0,movie,"['Documentary', 'Biography', 'Music']",7.8,1109.0,['United States'],['English'],"['Bradley Beesley', 'Steve Burns', 'Dolly Coyn...",['Bradley Beesley'],NaN,NaN,100.0
2490,2490,Phil of the Future: Gadgets & Gizmos,2005.0,video movie,['Family'],6.9,21.0,['United States'],['English'],"['Craig Anton', 'David Berry', 'Riley Brock', ...",NaN,NaN,NaN,84.0
6414,6414,Rock School,2005.0,movie,"['Documentary', 'Music']",6.4,1030.0,['United States'],['English'],"['Napoleon Murphy Brock', 'Asa Spades Collins'...",['Don Argott'],NaN,NaN,108.0